<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="sablom1a.css">
    <title>start bootstrap</title>
</head>
<body>
    <div>
      <div class="container-full">
         <div class="row">
             <div class="box">
                 <div class="itemm">Start Bootstrap</div>
             </div>
             <div class="col-1">Home</div>
             <div class="col-1">About</div>
             <div class="col-1">Contact</div>
             <div class="col-1">Pricing</div>
             <div class="col-1">FAG</div>
             <div class="col-1">
                 <select>
                     <option value="1"> blog</option>
                 </select>
             </div>
             <div class="col-1">
                <select>
                    <option value="1"> Portfolio</option>
                </select>
             </div>
         </div>
         <div class="row">
            <div class="col-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, assumenda a illo placeat quod exercitationem aut reiciendis pariatur animi laudantium ex, officia voluptas maxime doloremque accusantium, deleniti corporis asperiores? Cum!</div>
            <div class="col-4"></div>
         </div>
         <div class="container">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item4"></div>
            <div class="item">5</div>
            <div class="item">6</div>
         </div> 
           </div>
          
    </div>
</body>
</html>