<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="sablom1c.css">
</head>
<body>
    <div class="container-full">
          <div class="row">
              <div class="col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique dolorum veniam nisi ex modi, officia quo reprehenderit commodi at molestias alias inventore neque nostrum aliquid eveniet perspiciatis eum blanditiis?</div>
          </div>
          <div class="row"> 
              <div class="col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aliquam delectus provident quibusdam dignissimos officiis ad laboriosam ratione numquam. Dignissimos quod tempore possimus nisi molestias rerum esse maiores qui perspiciatis.</div>
          </div>
    </div>
</body>
</html>