body{
    margin:0px;
}
.container{ height: 100px;
    border: 1px solid black;
    margin: 30px;
    width: 1200px;
    text-align: center;
} 
.col-4{
    background-color: rgb(147, 147, 226);
}
.bottom-box: col-4{
    background-color: white;!important
}