.mainbox{ border: 1px solid rgb(10, 9, 9); 
    width:90%;
 margin: 0 auto;   }
 body{ margin: 0px;}
.header{}
.logo{ width: 400px; height: 200px;
     background-color: blue ; 
     display: inline-block;}
.content{width: 900px;height: 200px;
     background-color: brown; display: inline-block;} 
.navbar{width: 1300px; height: 70px; 
    background:green; }
.photo-messaging area{}
.photo area{width: 500px; height: 360px ;
     background-color: chartreuse; display: inline-block;}
.primary messaging area{width: 800px;
     height: 360px; background-color: cyan; 
     display: inline-block;}
.header items{}
.secondary messaging{width: 400px; height: 36px;
     background-color: darkblue ; 
     display: inline-block;}
.footer {width: 1300px; height: 70px; 
    background: darkmagenta;}